*{
  margin: 0;
  padding: 0;
  /*防止点击闪烁*/
  -webkit-tap-highlight-color: transparent;
  /*缩放网页，文字大小不变*/
  -webkit-text-size-adjust: none;
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: normal;
}
/*修复img默认位置和IE边框*/
img{
  vertical-align: top;
  border:none;
}

/*去除虚线*/
input:focus,select:focus,textarea:focus,button:focus{
  outline: none;
}
/*重置部分表单圆角和内阴影*/
input[type="text"],input[type="file"],input[type="password"],input[type="search"],input[type="tel"],input[type="number"],input[type="email"],input[type="url"],textarea{
    -webkit-appearance:none;
}
/*去除文本框上下箭头*/
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance:none;
}
a{
  text-decoration: none;
  /*ios禁止页面在新窗口打开*/
  -webkit-touch-callout:none;
}
em,i{
  font-style: normal;
}
li{
  list-style: none;
}
html,body{
  height: 100%;
}
body{
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'iconfont';  /* project id 599109 */
  src: url('//at.alicdn.com/t/font_599109_5nwch7slvde4gqfr.eot');
  src: url('//at.alicdn.com/t/font_599109_5nwch7slvde4gqfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_599109_5nwch7slvde4gqfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_599109_5nwch7slvde4gqfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_599109_5nwch7slvde4gqfr.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}